

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-lg-5 m-auto">
                <div class=" card card-body text-center">
                    <h2>Fortunate Resources</h2>
                    <p class="lead">Create an account or Login</p>
                    <a class="btn btn-danger btn-block" href="/user/register">Register</a>
                    <a class="btn btn-secondary btn-block" href="/user/login">Login</a>
                </div>
        </div>
    </div>
</div>