*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

form{
    padding: 0;
    margin: 0;
}